@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 1;
  background-color: #353535;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.container {
  background-color: #1b1b1b;
  border-radius: 30px;
  padding: 50px;
}

.jumbotron {
  text-align: center;
  background-color:#353535;
  color: rgb(240, 240, 240);
  border-radius: 0;
  /* border-bottom: 5px solid rgb(192, 192, 192); */
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
  margin: 15px 0px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #5C5C5C;
  color: #ffffff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  /* border-top: 1px dashed #000000; */
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #f8df98;
  color: white;
}

.future {
  background-color: #a9eea9;
  color: white;
}

.saveBtn {
  /* border-left: 1px solid black; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #52b0c5;
  color: white;
}

.saveBtn:hover {
  background-color: rgb(58, 126, 141)
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.resetBtn {
  border-radius: 15px 15px 15px 15px;
  background-color: #eebf25fa;
  color: white;
  max-height: 50px;
}

.resetBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}